<div class="container-xxl flex-grow-1 container-p-y">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <!-- ALTTAKI DIV -->
                                <div class="card-body">
                                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                                        <div class="row">


                                            <div class="mb-3 col-md-6">
                                                <label for="tcno" class="form-label">TC NO:</label>
                                                <input class="form-control" type="number" name="tcno" id="tcno" placeholder="T.C. Numarasını yazınız" @bind="bf.tcno_BsN9229"/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="iban" class="form-label">IBAN No ZİRAAT BANKASI: </label>
                                                <input class="form-control" type="number" name="iban" id="iban" placeholder="Ziraat bankası IBAN No'su yazınız" @bind="bf.iban_V4525TP"/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="adres" class="form-label">Adres</label>
                                                <input class="form-control"
                                                       type="text"
                                                       id="adres"
                                                       name="adres"
                                       placeholder="Adres yazınız" @bind="bf.adres_9KJCw7Y" />

                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="telno">Ev Tel/GSM</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="number"
                                                           name="telno"
                                                           id="telno"
                                                           class="form-control"
                                                           placeholder="Telefonu numarası yazınız" 
                                                           @bind="bf.ev_tel_gsm_89RPAT8"/>
                                                </div>

                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="il" class="form-label">İl:</label>
                                <input class="form-control" type="text" name="il" id="il" placeholder="Yaşadığınız ili yazınız" @bind="bf.il_rDXGFfR" />
                                            </div>


                                            <div class="mb-3 col-md-6">
                                                <label for="ilçe" class="form-label">İlçe</label>
                                <input class="form-control" type="text" name="ilçe" id="ilçe" placeholder="Yaşadığınız ilçe yazınız" @bind="bf.ilce_Gw2FDa6" />


                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="posta" class="form-label">Posta Kodu: </label>
                                <input class="form-control" type="number" name="posta" id="posta" placeholder="Posta kodu yazınız" @bind="bf.posta_a6cTp8f"/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="baslama_tarih" class="form-label">Başlama Tarihi</label>
                                                <input class="form-control" type="date" id="baslama_tarih" @bind="bf.baslama_tarihi_WAT4WzP">
                                            </div>


                                            <div class="mb-3 col-md-6">
                                                <label for="bitis_tarih" class="form-label">Bitiş Tarihi</label>
                                <input class="form-control" type="date" id="bitis_tarih" @bind="bf.bitis_tarihi_3B2FDZD">
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="is_gun" class="form-label">İş Günü:</label>
                                <input class="form-control" type="number" name="is_gun" id="is_gun" placeholder="Çalışacağınız iş günü sayınız" @bind="bf.is_gunu_SNyzfMq" />
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="defaultRadio1" class="form-label">Ailemden, Kendimden veya Anne-Baba Üzarinden Genel Sağlık Sigortası Kapsamında Sağlık Hizmeti Alıyorum</label>
                                                <div class="form-check mt-3">
                                    <input name="default-radio-1" class="form-check-input" type="radio" value="" id="defaultRadio1" @onchange="@(()=>bf.saglik_VC4cCt4 = true)">
                                                    <label class="form-check-label" for="defaultRadio1">
                                                        Evet
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                    <input name="default-radio-1" class="form-check-input" type="radio" value="" id="defaultRadio2" @onchange="@(()=>bf.saglik_VC4cCt4=false)">
                                                    <label class="form-check-label" for="defaultRadio2">
                                                        Hayır
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="mb-3 col-md-6">

                                                <label for="default-radio-2" class="form-label">Genel Sağlık Sigortası (GSS) (Gelir Testi Yaptırdım Pirim Ödüyorum)</label>
                                                <div class="form-check mt-3">
                                    <input name="default-radio-2" class="form-check-input" type="radio" value="" id="defaultRadio3" @onchange="@(()=>bf.genel_saglik_TxR6wEE=true)">
                                                    <label class="form-check-label" for="defaultRadio3">
                                                        Evet
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                    <input name="default-radio-2" class="form-check-input" type="radio" value="" id="defaultRadio4" @onchange="@(()=>bf.genel_saglik_TxR6wEE=false)">
                                                    <label class="form-check-label" for="defaultRadio4">
                                                        Hayır
                                                    </label>
                                                </div>

                                            </div>


                                            <div class="mb-3 col-md-6">

                                                <label for="default-radio-3" class="form-label">25 Yaşını Doldurdum</label>
                                                <div class="form-check mt-3">
                                    <input name="default-radio-3" class="form-check-input" type="radio" value="" id="defaultRadio5" @onchange="@(()=>bf.yas_dol_MUHJMLa=true)">
                                                    <label class="form-check-label" for="defaultRadio5">
                                                        Evet
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                    <input name="default-radio-3" class="form-check-input" type="radio" value="" id="defaultRadio6" @onchange="@(()=>bf.yas_dol_MUHJMLa=false)">
                                                    <label class="form-check-label" for="defaultRadio6">
                                                        Hayır
                                                    </label>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div> <!--İLK DIV BITIYOR-->

                            <div class="card mb-4">
                                <div class="card-body">
                                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                                        <div class="row">
                                            <h5 class="card-header" style="text-align:center">İşletmede Mesleki Eğitim Yapılacak Kurum Bilgileri</h5>

                                            <div class="mb-3 col-md-6">
                                                <label for="resmi_name" class="form-label">RESMİ ADI</label>
                                                <input class="form-control" type="text" name="resmi_name" id="resmi_name" placeholder="Resmi adı yazınız" @bind="bf.resmi_ad_Y2Rr3rQ"/>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="faaliyet" class="form-label">Faaliyet Alanı</label>
                                                <input class="form-control" type="text" name="faaliyet" id="faaliyet" placeholder="Faaliyet alanı yazınız" @bind="bf.faaliyet_NvNYneU"/>
                                            </div>


                                            <div class="mb-3 col-md-6">
                                                <label for="kurum_adres" class="form-label">İş Adresi</label>
                                                <input class="form-control" type="text" id="kurum_adres" name="kurum_adres" placeholder="Adres yazınız" @bind="bf.is_adres_jrNshg3" />

                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="kurum_mail" class="form-label">E-Posta</label>
                                <input class="form-control" type="text" id="kurum_mail" name="kurum_mail" placeholder="E-posta yazınız" @bind="bf.is_eposta_tFf5ETr" />

                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="kurum_tel">Kurum Tel/GSM</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="number"
                                                           name="kurum_tel"
                                                           id="kurum_tel"
                                                           class="form-control"
                                           placeholder="Kurum telefonunu yazınız" @bind="bf.is_tel_sLRyyEr"/>
                                                </div>

                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="kurum_il" class="form-label">İl:</label>
                                                <input class="form-control" type="text" name="kurum_il" id="kurum_il" placeholder="Kurumun bulunduğu ili yazınız" @bind = "bf.is_il_VVTHXSd"/>
                                            </div>


                                            <div class="mb-3 col-md-6">
                                                <label for="kurum_ilce" class="form-label">İlçe</label>
                                                <input class="form-control" type="text" name="kurum_ilce" id="kurum_ilce" placeholder="Kurumun bulunduğu ilçeyi yazınız" @bind="bf.is_ilce_Fkc7TUk"/>


                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="kurum_posta" class="form-label">Posta Kodu</label>
                                <input class="form-control" type="number" name="kurum_posta" id="kurum_posta" placeholder="Posta kodunu yazınız" @bind="bf.is_posta_c86RzPQ" />


                                            </div>


                                            <div class="mb-3 col-md-6">
                                <label for="unvan" class="form-label">İşyeri Sorumlusunun Unvanı</label>
                                                <input class="form-control" type="text" name="unvan" id="unvan" placeholder="İşyeri sorumlusunun unvanını yazınız" @bind="bf.unvan_x43qM2Y"/>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--3 ALTTAKI DIV-->
                        <div class="card mb-4">
                            <div class="card-body">
                                <form id="formAccountSettings" method="POST" onsubmit="return false">
                                    <div class="row">
                                        <h5 class="card-header" style="text-align:center">Firma Yetkilisi</h5>

                                        <div class="mb-3 col-md-6">
                                            <label for="yetkili_isim" class="form-label">Adı Soyadı:</label>
                                            <input class="form-control" type="text" name="yetkili_isim" id="yetkili_isim" placeholder="Adı ve Soyadı yazınız" @bind="bf.yetkili_Y8QWfKb"/>


                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label for="yetkili_unvan" class="form-label">FİRMA YETKİLİSİNİN UNVANI</label>
                            <input class="form-control" type="text" name="yetkili_unvan" id="yetkili_unvan" placeholder="Firma yetkilisinin unvanını yazınız" @bind="bf.yetkili_unvan_6qKbMW9" />

                                        </div>
                                    </div>

                                    <!-- KAYDET BUTTON -->
                                    <div style="text-align:center" class="mt-2">
                        <button type="submit" class="btn btn-primary me-2" @onclick=@(async()=>await submit())>Kaydet</button>

                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>

@inject NavigationManager navman
@code {
    [Parameter]
    public UserWToken User { get; set; }
    private bool Update = false;
    public internships inty{ get; } = internships.IME;
    private BasvuruFormu bf = new BasvuruFormu();
    private InternStdPagesController ispc = new InternStdPagesController();

    protected override async Task<Task> OnAfterRenderAsync(bool firstRender)
    {
        var res = await ispc.getBasvuruKabul(User.token, inty);
        if(res.isSuccess){
            Update = true;
            bf = res.value;
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    public async Task submit()
    {
        InternStdPagesController ispc = new InternStdPagesController();
        if (Update)
        {
            await ispc.updateBasvuruKabul(User.token, inty, bf);
        }
        else
        {
            await ispc.applyInternship(User.token, inty, bf);
        }
        navman.NavigateTo("/ime",true);
    }

    public T GetValue<T>(ChangeEventArgs e)
    {
        string value = e.Value.ToString();
        return (T)Convert.ChangeType(value, typeof(T));
    }

    public class ResponseModel
    {
        public string name { get; set; }

        public string status { get; set; }

        public string url { get; set; }

        public string thumbUrl { get; set; }
    }
}
