<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <!-- ALTTAKI DIV -->
                <div class="card-body">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                            <h5 class="card-header" style="text-align:center">Staj Yapacak Öğrencinin</h5>

                            <div class="mb-3 col-md-6">
                                <label for="tcno" class="form-label">TC NO:</label>
                                <input class="form-control" type="number" name="tcno" id="tcno" placeholder="T.C. Numarasını yazınız" @bind="ApplyForm.tcno_BsN9229"/>
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="uyruk" class="form-label">Uyruk</label>
                                <input class="form-control" type="text" name="uyruk" id="uyruk" placeholder="Uyruk giriniz" @bind="ApplyForm.uyruk_HfeeKNS"/>


                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="adres" class="form-label">Adres</label>
                                <input class="form-control"
                                       type="text"
                                       id="adres"
                                       name="adres"
                                       placeholder="Adres yazınız" @bind="ApplyForm.adres_9KJCw7Y" />

                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="telno">Ev Tel/GSM</label>
                                <div class="input-group input-group-merge">
                                    <input type="number"
                                           name="telno"
                                           id="telno"
                                           class="form-control"
                                           placeholder="Ev telefonu yazınız" @bind="ApplyForm.ev_tel_gsm_89RPAT8"/>
                                </div>

                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="il" class="form-label">İl:</label>
                                <input class="form-control" type="text" name="il" id="il" placeholder="Yaşadığınız ili yazınız" @bind="ApplyForm.il_rDXGFfR"/>
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="ilçe" class="form-label">İlçe</label>
                                <input class="form-control" type="text" name="ilçe" id="ilçe" placeholder="Yaşadığınız ilçeyi yazınız" @bind="ApplyForm.ilce_Gw2FDa6"/>


                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="baslama_tarih" class="form-label">Başlama Tarihi</label>
                                <input class="form-control" type="date" id="baslama_tarih" @bind="ApplyForm.baslama_tarihi_WAT4WzP"/>
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="bitis_tarih" class="form-label">Bitiş Tarihi</label>
                                <input class="form-control" type="date" id="bitis_tarih" @bind="ApplyForm.bitis_tarihi_3B2FDZD"/>
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="is_gun" class="form-label">İş Günü:</label>
                                <input class="form-control" type="number" name="is_gun" id="is_gun" placeholder="Çalışacağınız iş günü sayınız" @bind="ApplyForm.is_gunu_SNyzfMq" />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="default-radio-1" class="form-label">Cumartesi Çalışacak Mısınız?</label>
                                <div class="form-check mt-3">
                                    <input name="default-radio-1" class="form-check-input" type="radio" id="defaultRadio1" @onchange="@(()=>ApplyForm.cumartesi_rWYx6kA=true)">
                                    <label class="form-check-label" for="defaultRadio1">
                                        Evet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input name="default-radio-1" class="form-check-input" type="radio" id="defaultRadio2" @onchange="@(()=>ApplyForm.cumartesi_rWYx6kA=false)">
                                    <label class="form-check-label" for="defaultRadio2">
                                        Hayır
                                    </label>
                                </div>

                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="default-radio-2" class="form-label">Ailemden,  Kendimden veya  Anne-Baba Üzarinden Genel Sağlık Sigortası Kapsamında Sağlık Hizmeti Alıyorum</label>
                                <div class="form-check mt-3">
                                    <input name="default-radio-2" class="form-check-input" type="radio" id="defaultRadio3" @onchange="@(()=>ApplyForm.saglik_VC4cCt4=true)">
                                    <label class="form-check-label" for="defaultRadio3">
                                        Evet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input name="default-radio-2" class="form-check-input" type="radio" value="" id="defaultRadio4" @onchange="@(()=>ApplyForm.saglik_VC4cCt4=false)">
                                    <label class="form-check-label" for="defaultRadio4">
                                        Hayır
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">

                                <label for="default-radio-3" class="form-label">Genel Sağlık Sigortası (GSS) (Gelir Testi Yaptırdım Pirim Ödüyorum)</label>
                                <div class="form-check mt-3">
                                    <input name="default-radio-3" class="form-check-input" type="radio" value="" id="defaultRadio5" @onchange="@(()=>ApplyForm.genel_saglik_TxR6wEE=true)">
                                    <label class="form-check-label" for="defaultRadio5">
                                        Evet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input name="default-radio-3" class="form-check-input" type="radio" value="" id="defaultRadio6" @onchange="@(()=>ApplyForm.genel_saglik_TxR6wEE=false)">
                                    <label class="form-check-label" for="defaultRadio6">
                                        Hayır
                                    </label>
                                </div>

                            </div>

                            <div class="mb-3 col-md-6">

                                <label for="default-radio-4" class="form-label">25 Yaşını Doldurdum</label>
                                <div class="form-check mt-3">
                                    <input name="default-radio-4" class="form-check-input" type="radio" value="" id="defaultRadio7" @onchange="@(()=>ApplyForm.yas_dol_MUHJMLa=true)">
                                    <label class="form-check-label" for="defaultRadio7">
                                        Evet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input name="default-radio-4" class="form-check-input" type="radio" value="" id="defaultRadio8" @onchange="@(()=>ApplyForm.yas_dol_MUHJMLa=false)">
                                    <label class="form-check-label" for="defaultRadio8">
                                        Hayır
                                    </label>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div> <!--İLK DIV BITIYOR-->

            <div class="card mb-4">
                <div class="card-body">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                            <h5 class="card-header" style="text-align:center">Staj Yapılacak Kurum Bilgileri</h5>

                            <div class="mb-3 col-md-6">
                                <label for="resmi_name" class="form-label">RESMİ ADI</label>
                                <input class="form-control" type="text" name="resmi_name" id="resmi_name" placeholder="Resmi adı yazınız" @bind="ApplyForm.resmi_ad_Y2Rr3rQ"/>
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="faaliyet" class="form-label">Faaliyet Alanı</label>
                                <input class="form-control" type="text" name="faaliyet" id="faaliyet" placeholder="Faaliyet alanı yazınız" @bind="ApplyForm.faaliyet_NvNYneU" />
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="kurum_adres" class="form-label">Adres</label>
                                <input class="form-control"
                                       type="text"
                                       id="kurum_adres"
                                       name="kurum_adres"
                                       placeholder="Adres yazınız" @bind="ApplyForm.is_adres_jrNshg3" />

                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="kurum_mail" class="form-label">E-Posta</label>
                                <input class="form-control"
                                       type="text"
                                       id="kurum_mail"
                                       name="kurum_mail"
                                       placeholder="E-posta yazınız" @bind="ApplyForm.is_eposta_tFf5ETr"/>

                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="kurum_tel">Kurum Tel/GSM</label>
                                <div class="input-group input-group-merge">
                                    <input type="number"
                                           name="kurum_tel"
                                           id="kurum_tel"
                                           class="form-control"
                                           placeholder="Kurum telefonunu yazınız" @bind="ApplyForm.is_tel_sLRyyEr"/>
                                </div>

                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="kurum_il" class="form-label">İl:</label>
                                <input class="form-control" type="text" name="kurum_il" id="kurum_il" placeholder="Kurumun bulunduğu ili yazınız" @bind="ApplyForm.il_rDXGFfR"/>
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="kurum_ilce" class="form-label">İlçe</label>
                                <input class="form-control" type="text" name="kurum_ilce" id="kurum_ilce" placeholder="Kurumun bulunduğu ilçeyi yazınız" @bind="ApplyForm.ilce_Gw2FDa6" />


                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="kurum_posta" class="form-label">Posta Kodu</label>
                                <input class="form-control" type="number" name="kurum_posta" id="kurum_posta" placeholder="Posta kodunu yazınız" @bind="ApplyForm.is_posta_c86RzPQ" />


                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="fax" class="form-label">Fax</label>
                                <input class="form-control" type="number" name="fax" id="fax" placeholder="Fax No giriniz" @bind="ApplyForm.is_fax_Gt6gWVg" />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="unvan" class="form-label">Staj Sorumlusunun Unvanı</label>
                                <input class="form-control" type="text" name="unvan" id="unvan" placeholder="Staj sorumlusunun unvanını yazınız" @bind="ApplyForm.unvan_x43qM2Y" />

                            </div>

                            <div class="mb-3 col-md-6">

                                <label for="default-radio-5" class="form-label">Kurum olarak 3308 sayılı kanundaki devlet katkısından yararlanmak istiyor musunuz?</label>
                                <div class="form-check mt-3">
                                    <input name="default-radio-5" class="form-check-input" type="radio" value="" id="defaultRadio9" @onchange="@(()=>ApplyForm.kanun_ZUz7CGu=true)">
                                    <label class="form-check-label" for="defaultRadio9">
                                        Evet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input name="default-radio-5" class="form-check-input" type="radio" value="" id="defaultRadio10"@onchange="@(()=>ApplyForm.kanun_ZUz7CGu=false)">
                                    <label class="form-check-label" for="defaultRadio10">
                                        Hayır
                                    </label>
                                </div>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--3 ALTTAKI DIV-->
        <div class="card mb-4">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <h5 class="card-header" style="text-align:center">Firma Yetkilisi</h5>

                        <div class="mb-3 col-md-6">
                            <label for="yetkili_isim" class="form-label">Adı Soyadı:</label>
                            <input class="form-control" type="text" name="yetkili_isim" id="yetkili_isim" placeholder="Adı ve Soyadı yazınız" @bind="ApplyForm.yetkili_Y8QWfKb" />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="yetkili_unvan" class="form-label">FİRMA YETKİLİSİNİN UNVANI</label>
                            <input class="form-control" type="text" name="yetkili_unvan" id="yetkili_unvan" placeholder="Firma yetkilisinin unvanını yazınız" @bind="ApplyForm.yetkili_unvan_6qKbMW9"/>
                        </div>
                    </div>

                    <!-- KAYDET BUTTON -->
                    <div style="text-align:center" class="mt-2">
                        <button type="submit" class="btn btn-primary me-2" @onclick=@(async()=>await submit())>Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@inject NavigationManager navman
@code {
    [Parameter]
    public UserWToken User { get; set; }
    [Parameter]
    public staj_r_backend.Models.Entities.internships internType { get; set; }

    private staj_r_backend.Models.Entities.BasvuruFormu ApplyForm = new BasvuruFormu();

    protected override async Task<Task> OnAfterRenderAsync(bool firstRender)
    {
        InternStdPagesController ispc = new InternStdPagesController();
        var res = await ispc.getBasvuruKabul(User.token, internType);
        if (res.isSuccess)
        {
            ApplyForm = res.value;
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    public T GetValue<T>(ChangeEventArgs e)
    {
        string value = e.Value.ToString();
        return (T)Convert.ChangeType(value, typeof(T));
    }
    public async Task submit()
    {
        InternStdPagesController ispc = new InternStdPagesController();
        await ispc.applyInternship(User.token, internType, ApplyForm);
        navman.NavigateTo("/stajR",true); 
    }



    //void OnSingleCompleted(UploadInfo fileinfo)
    //{

    //    if (fileinfo.File.State == UploadState.Success && fileinfo.File.Type == ".csv")
    //    {
    //        var result = fileinfo.File.GetResponse<ResponseModel>();
    //        fileinfo.File.Url = result.url;
    //    }

    //}





    public class ResponseModel
    {
        public string name { get; set; }

        public string status { get; set; }

        public string url { get; set; }

        public string thumbUrl { get; set; }
    }
}
